<!DOCTYPE html>
<html lang="es" data-ng-app="appEdupol">
    <head>
        <title>..::Portal Cygnus::..</title>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <meta name="description" content="" />
        <meta name="keywords" content="" />
        <meta name="author" content="" />

        <link rel="stylesheet" type="text/css" href="../css/bootstrap.css" />
        <link rel="stylesheet" type="text/css" href="../css/bootstrap-responsive.css" />
        <link rel="stylesheet" type="text/css" href="../css/mastersheet.css" />
        <link rel="stylesheet" type="text/css" href="../css/themes/theme1.css" />
        <link rel="stylesheet" type="text/css" href="../css/themes/login.css" />
        <link rel="stylesheet" type="text/css" href="../css/webfonts/unicons.css" />
        <link rel="stylesheet" type="text/css" href="../css/revolution-slider.css" media="screen" />
        <link rel="stylesheet" type="text/css" href="../libs/rs-plugin/css/settings.css" media="screen" />
        <link rel="stylesheet" type="text/css" href="../libs/prettyphoto/css/prettyphoto.css" />
        <!--<link rel="import" href="../Layout/LayoutIn.html" />-->

        <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.3.14/angular.min.js"></script>
        <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.3.14/angular-animate.js"></script>
        <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.3.14/angular-route.min.js"></script>
        <script src="../js/controlNav.js"></script>
        <script src="../js/PreRegistro.js"></script>
        <script src="../js/layout.js"></script>
        <script src="../libs/jquery.min.js"></script>
        <script src="../js/bootstrap.min.js"></script>
        <script src="../libs/rs-plugin/js/jquery.themepunch.plugins.min.js"></script>
        <script src="../libs/prettyphoto/jquery.prettyphoto.js"></script>
        <script src="../libs/jquery.easing.min.js"></script>
        <script src="../libs/jquery.scrollto-1.4.3.1-min.js"></script>
        <script src="../libs/custom.js"></script>
        <script src="../libs/rs-plugin/js/jquery.themepunch.revolution.min.js"></script>


    </head>
    <body>
        <div class="wrapper" >
            <header id="menu" data-ng-controller="navegaController as navega" ng-include="'MenuIn.html'"></header>

            <section class="section main-header">
                <div class="container">
                    <div class="row">
                        <div class="span12">
                            <header>
                                <h1>Registro</h1>
                            </header>

                            <ul class="breadcrumb">
                                <li>Estas aquí:</li>
                                <li><a href="../Estudiantes/Registro.html">Registro</a></li>
                                <li>Columns</li>
                            </ul>
                        </div>
                    </div>
                </div>
            </section>

            <section id="includeLayout" class="section">
                <div class="container">

                    <div class="panel-group" id="accordion">

                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <h4 class="panel-title">
                                    <a data-toggle="collapse" data-parent="#accordion" href="#collapse1">DATOS COMPLEMENTARIOS DEL ESTUDIANTE</a>
                                </h4>
                            </div>
                            <div id="collapse1" class="panel-collapse collapse in">
                                <br/>
                                <br/>
                                <div class="panel-body">

                                    <div class="col-sm-6">
                                        <div class="form-group">
                                            <label class="col-sm-5">Tipo Identificacion:</label>
                                            <div class="col-sm-6">
                                                <select ng-model="actualiza.person.PreRegistro.acudiente.tipIden" ng-options="TipoIden as TipoIden.sDescripcion for TipoIden in actualiza.person.lisTipoIdentificacionModels track by TipoIden.iId_Identificacion" convert-to-number>
                                                    <option value="">Seleccione tipo de identificacion</option>
                                                </select>
                                            </div>
                                        </div>

                                        <div class="form-group">
                                            <label class="col-sm-5">Fecha Expedición:</label>
                                            <div class="col-sm-6">
                                                <input type="text" id="sFechaExpedicion" name="sFechaExpedicion" ng-model="actualiza.person.PreRegistro.acudiente.fechExp" ng-disabled="edit" placeholder="dd/mm/yyyy" >
                                            </div>
                                        </div>

                                        <div class="form-group">
                                            <label class="col-sm-5">Primer Nombre:</label>
                                            <div class="col-sm-6">
                                                <input type="text" id="sPrimerNombre" name="sPrimerNombre" ng-model="actualiza.person.PreRegistro.acudiente.priNombre" ng-disabled="edit" placeholder="Primer Nombre">
                                            </div>
                                        </div>

                                        <div class="form-group">
                                            <label class="col-sm-5">Primer Apellido:</label>
                                            <div class="col-sm-6">
                                                <input type="text" id="sPrimerApellido" name="sPrimerApellido" ng-model="actualiza.person.PreRegistro.acudiente.priApellido" ng-disabled="edit" placeholder="Primer Apellido"  >
                                            </div>
                                        </div>

                                        <div class="form-group">
                                            <label class="col-sm-5">País Residencia:</label>
                                            <div class="col-sm-6">
                                                <select ng-model="actualiza.person.PreRegistro.acudiente.paisRes" ng-options="ciudad as ciudad.sNombre for ciudad in actualiza.person.lisCiudadModels track by ciudad.sCodigo" convert-to-number>
                                                    <option value="">Seleccione su Nacionalidad</option>
                                                </select>
                                            </div>
                                        </div>

                                        <div class="form-group">
                                            <label class="col-sm-5">Ciudad Residencia:</label>
                                            <div class="col-sm-6">
                                                <select ng-model="actualiza.person.PreRegistro.acudiente.ciudRes" ng-options="pais as pais.sNombre for pais in estudiantes.estudiante.listPaisModel track by pais.sCodigo" convert-to-number>
                                                    <option value="">Seleccione una Ciudad</option>
                                                </select>
                                            </div>
                                        </div>

                                        <div class="form-group">
                                            <label class="col-sm-5">Teléfono Fijo</label>
                                            <div class="col-sm-6">
                                                <input type="text" id="sTelefonoFijo" name="sTelefonoFijo" ng-model="actualiza.person.PreRegistro.acudiente.telFij" ng-disabled="edit" placeholder="Teléfono Fijo">
                                            </div>
                                        </div>

                                        <div class="form-group">
                                            <label class="col-sm-5">Email</label>
                                            <div class="col-sm-6">
                                                <input type="text" id="sEmail" name="sTelefonoFijo" ng-model="actualiza.person.PreRegistro.acudiente.email" ng-disabled="edit" placeholder="Email">
                                            </div>
                                        </div>
                                    </div>

                                    <div class="col-sm-6">
                                        <div class="form-group">
                                            <label class="col-sm-5">Número de identificación:</label>
                                            <div class="col-sm-6">
                                                <input type="text" id="sNumeroIdentificacion" name="sNumeroIdentificacion" ng-model="actualiza.person.PreRegistro.acudiente.numIden" ng-disabled="edit" placeholder="Número Identifiación" >
                                            </div>
                                        </div>

                                        <div class="form-group">
                                            <label class="col-sm-5">Genero:</label>
                                            <div class="col-sm-6">
                                                <select ng-model="actualiza.person.PreRegistro.acudiente.genero" ng-options="genero as genero.sDescripcion for genero in actualiza.person.lisGeneroModels track by genero.iIdGenero">
                                                    <option value="">Seleccione Genero</option>
                                                </select>
                                            </div>
                                        </div>

                                        <div class="form-group">
                                            <label class="col-sm-5">Segundo Nombre:</label>
                                            <div class="col-sm-6">
                                                <input type="text" id="sSegundoNombre" name="sSegundoNombre" ng-model="actualiza.person.PreRegistro.acudiente.segNombre" ng-disabled="edit" placeholder="Segundo Nombre" >
                                            </div>
                                        </div>

                                        <div class="form-group">
                                            <label class="col-sm-5">Segundo Apellido:</label>
                                            <div class="col-sm-6">
                                                <input type="text" id="sSegundoApellido" name="sSegundoApellido" ng-model="actualiza.person.PreRegistro.acudiente.segApellido" ng-disabled="edit" placeholder="Segundo Apellido">
                                            </div>
                                        </div>

                                        <div class="form-group">
                                            <label class="col-sm-5">Depatamento Residencia:</label>
                                            <div class="col-sm-6">
                                                <select ng-model="actualiza.person.PreRegistro.acudiente.depRes" ng-options="depto as depto.sNombre for depto in estudiantes.estudianteModel.sPaisResidencia.listDeptoModel track by depto.sCodigo" convert-to-number>
                                                    <option value="">Seleccione un Departamento</option>
                                                </select>
                                            </div>
                                        </div>


                                        <div class="form-group">
                                            <label class="col-sm-5">Dirección Residencia:</label>
                                            <div class="col-sm-6">
                                                <input type="text" id="sDireccionResidencia" name="sDireccionResidencia" ng-model="actualiza.person.PreRegistro.acudiente.dirRes" ng-disabled="edit" placeholder="Direccion Residencia">
                                            </div>
                                        </div>

                                        <div class="form-group">
                                            <label class="col-sm-5">Teléfono Móvil</label>
                                            <div class="col-sm-6">
                                                <input type="text" id="sTelefonoMovil" name="sTelefonoMovil" ng-model="actualiza.person.PreRegistro.acudiente.telMovil" ng-disabled="edit" placeholder="Teléfono Móvil">
                                            </div>
                                        </div>
                                    </div> 

                                </div>
                            </div>
                        </div>



                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <h4 class="panel-title">
                                    <a data-toggle="collapse" data-parent="#accordion" href="#collapse2">DATOS SOCIOECONOMICOS</a>
                                </h4>
                            </div>
                            <div id="collapse2" class="panel-collapse collapse">
                                <br/>
                                <br/>
                                <div class="panel-body">

                                    <div class="col-sm-6">
                                        <div class="form-group">
                                            <label class="col-sm-5">Tipo Identificacion:</label>
                                            <div class="col-sm-6">
                                                <select ng-model="actualiza.person.PreRegistro.acudiente.tipIden" ng-options="TipoIden as TipoIden.sDescripcion for TipoIden in actualiza.person.lisTipoIdentificacionModels track by TipoIden.iId_Identificacion" convert-to-number>
                                                    <option value="">Seleccione tipo de identificacion</option>
                                                </select>
                                            </div>
                                        </div>

                                        <div class="form-group">
                                            <label class="col-sm-5">Fecha Expedición:</label>
                                            <div class="col-sm-6">
                                                <input type="text" id="sFechaExpedicion" name="sFechaExpedicion" ng-model="actualiza.person.PreRegistro.acudiente.fechExp" ng-disabled="edit" placeholder="dd/mm/yyyy" >
                                            </div>
                                        </div>

                                        <div class="form-group">
                                            <label class="col-sm-5">Primer Nombre:</label>
                                            <div class="col-sm-6">
                                                <input type="text" id="sPrimerNombre" name="sPrimerNombre" ng-model="actualiza.person.PreRegistro.acudiente.priNombre" ng-disabled="edit" placeholder="Primer Nombre">
                                            </div>
                                        </div>

                                        <div class="form-group">
                                            <label class="col-sm-5">Primer Apellido:</label>
                                            <div class="col-sm-6">
                                                <input type="text" id="sPrimerApellido" name="sPrimerApellido" ng-model="actualiza.person.PreRegistro.acudiente.priApellido" ng-disabled="edit" placeholder="Primer Apellido"  >
                                            </div>
                                        </div>

                                        <div class="form-group">
                                            <label class="col-sm-5">País Residencia:</label>
                                            <div class="col-sm-6">
                                                <select ng-model="actualiza.person.PreRegistro.acudiente.paisRes" ng-options="ciudad as ciudad.sNombre for ciudad in actualiza.person.lisCiudadModels track by ciudad.sCodigo" convert-to-number>
                                                    <option value="">Seleccione su Nacionalidad</option>
                                                </select>
                                            </div>
                                        </div>

                                        <div class="form-group">
                                            <label class="col-sm-5">Ciudad Residencia:</label>
                                            <div class="col-sm-6">
                                                <select ng-model="actualiza.person.PreRegistro.acudiente.ciudRes" ng-options="pais as pais.sNombre for pais in estudiantes.estudiante.listPaisModel track by pais.sCodigo" convert-to-number>
                                                    <option value="">Seleccione una Ciudad</option>
                                                </select>
                                            </div>
                                        </div>

                                        <div class="form-group">
                                            <label class="col-sm-5">Teléfono Fijo</label>
                                            <div class="col-sm-6">
                                                <input type="text" id="sTelefonoFijo" name="sTelefonoFijo" ng-model="actualiza.person.PreRegistro.acudiente.telFij" ng-disabled="edit" placeholder="Teléfono Fijo">
                                            </div>
                                        </div>

                                        <div class="form-group">
                                            <label class="col-sm-5">Email</label>
                                            <div class="col-sm-6">
                                                <input type="text" id="sEmail" name="sTelefonoFijo" ng-model="actualiza.person.PreRegistro.acudiente.email" ng-disabled="edit" placeholder="Email">
                                            </div>
                                        </div>
                                    </div>

                                    <div class="col-sm-6">
                                        <div class="form-group">
                                            <label class="col-sm-5">Número de identificación:</label>
                                            <div class="col-sm-6">
                                                <input type="text" id="sNumeroIdentificacion" name="sNumeroIdentificacion" ng-model="actualiza.person.PreRegistro.acudiente.numIden" ng-disabled="edit" placeholder="Número Identifiación" >
                                            </div>
                                        </div>

                                        <div class="form-group">
                                            <label class="col-sm-5">Genero:</label>
                                            <div class="col-sm-6">
                                                <select ng-model="actualiza.person.PreRegistro.acudiente.genero" ng-options="genero as genero.sDescripcion for genero in actualiza.person.lisGeneroModels track by genero.iIdGenero">
                                                    <option value="">Seleccione Genero</option>
                                                </select>
                                            </div>
                                        </div>

                                        <div class="form-group">
                                            <label class="col-sm-5">Segundo Nombre:</label>
                                            <div class="col-sm-6">
                                                <input type="text" id="sSegundoNombre" name="sSegundoNombre" ng-model="actualiza.person.PreRegistro.acudiente.segNombre" ng-disabled="edit" placeholder="Segundo Nombre" >
                                            </div>
                                        </div>

                                        <div class="form-group">
                                            <label class="col-sm-5">Segundo Apellido:</label>
                                            <div class="col-sm-6">
                                                <input type="text" id="sSegundoApellido" name="sSegundoApellido" ng-model="actualiza.person.PreRegistro.acudiente.segApellido" ng-disabled="edit" placeholder="Segundo Apellido">
                                            </div>
                                        </div>

                                        <div class="form-group">
                                            <label class="col-sm-5">Depatamento Residencia:</label>
                                            <div class="col-sm-6">
                                                <select ng-model="actualiza.person.PreRegistro.acudiente.depRes" ng-options="depto as depto.sNombre for depto in estudiantes.estudianteModel.sPaisResidencia.listDeptoModel track by depto.sCodigo" convert-to-number>
                                                    <option value="">Seleccione un Departamento</option>
                                                </select>
                                            </div>
                                        </div>


                                        <div class="form-group">
                                            <label class="col-sm-5">Dirección Residencia:</label>
                                            <div class="col-sm-6">
                                                <input type="text" id="sDireccionResidencia" name="sDireccionResidencia" ng-model="actualiza.person.PreRegistro.acudiente.dirRes" ng-disabled="edit" placeholder="Direccion Residencia">
                                            </div>
                                        </div>

                                        <div class="form-group">
                                            <label class="col-sm-5">Teléfono Móvil</label>
                                            <div class="col-sm-6">
                                                <input type="text" id="sTelefonoMovil" name="sTelefonoMovil" ng-model="actualiza.person.PreRegistro.acudiente.telMovil" ng-disabled="edit" placeholder="Teléfono Móvil">
                                            </div>
                                        </div>
                                    </div> 

                                </div>
                            </div>
                        </div>
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <h4 class="panel-title">
                                    <a data-toggle="collapse" data-parent="#accordion" href="#collapse2">DATOS ICFES</a>
                                </h4>
                            </div>
                            <div id="collapse2" class="panel-collapse collapse">
                                <br/>
                                <br/>
                                <div class="panel-body">

                                    <div class="col-sm-6">
                                        <div class="form-group">
                                            <label class="col-sm-5">Tipo Identificacion:</label>
                                            <div class="col-sm-6">
                                                <select ng-model="actualiza.person.PreRegistro.acudiente.tipIden" ng-options="TipoIden as TipoIden.sDescripcion for TipoIden in actualiza.person.lisTipoIdentificacionModels track by TipoIden.iId_Identificacion" convert-to-number>
                                                    <option value="">Seleccione tipo de identificacion</option>
                                                </select>
                                            </div>
                                        </div>

                                        <div class="form-group">
                                            <label class="col-sm-5">Fecha Expedición:</label>
                                            <div class="col-sm-6">
                                                <input type="text" id="sFechaExpedicion" name="sFechaExpedicion" ng-model="actualiza.person.PreRegistro.acudiente.fechExp" ng-disabled="edit" placeholder="dd/mm/yyyy" >
                                            </div>
                                        </div>

                                        <div class="form-group">
                                            <label class="col-sm-5">Primer Nombre:</label>
                                            <div class="col-sm-6">
                                                <input type="text" id="sPrimerNombre" name="sPrimerNombre" ng-model="actualiza.person.PreRegistro.acudiente.priNombre" ng-disabled="edit" placeholder="Primer Nombre">
                                            </div>
                                        </div>

                                        <div class="form-group">
                                            <label class="col-sm-5">Primer Apellido:</label>
                                            <div class="col-sm-6">
                                                <input type="text" id="sPrimerApellido" name="sPrimerApellido" ng-model="actualiza.person.PreRegistro.acudiente.priApellido" ng-disabled="edit" placeholder="Primer Apellido"  >
                                            </div>
                                        </div>

                                        <div class="form-group">
                                            <label class="col-sm-5">País Residencia:</label>
                                            <div class="col-sm-6">
                                                <select ng-model="actualiza.person.PreRegistro.acudiente.paisRes" ng-options="ciudad as ciudad.sNombre for ciudad in actualiza.person.lisCiudadModels track by ciudad.sCodigo" convert-to-number>
                                                    <option value="">Seleccione su Nacionalidad</option>
                                                </select>
                                            </div>
                                        </div>

                                        <div class="form-group">
                                            <label class="col-sm-5">Ciudad Residencia:</label>
                                            <div class="col-sm-6">
                                                <select ng-model="actualiza.person.PreRegistro.acudiente.ciudRes" ng-options="pais as pais.sNombre for pais in estudiantes.estudiante.listPaisModel track by pais.sCodigo" convert-to-number>
                                                    <option value="">Seleccione una Ciudad</option>
                                                </select>
                                            </div>
                                        </div>

                                        <div class="form-group">
                                            <label class="col-sm-5">Teléfono Fijo</label>
                                            <div class="col-sm-6">
                                                <input type="text" id="sTelefonoFijo" name="sTelefonoFijo" ng-model="actualiza.person.PreRegistro.acudiente.telFij" ng-disabled="edit" placeholder="Teléfono Fijo">
                                            </div>
                                        </div>

                                        <div class="form-group">
                                            <label class="col-sm-5">Email</label>
                                            <div class="col-sm-6">
                                                <input type="text" id="sEmail" name="sTelefonoFijo" ng-model="actualiza.person.PreRegistro.acudiente.email" ng-disabled="edit" placeholder="Email">
                                            </div>
                                        </div>
                                    </div>

                                    <div class="col-sm-6">
                                        <div class="form-group">
                                            <label class="col-sm-5">Número de identificación:</label>
                                            <div class="col-sm-6">
                                                <input type="text" id="sNumeroIdentificacion" name="sNumeroIdentificacion" ng-model="actualiza.person.PreRegistro.acudiente.numIden" ng-disabled="edit" placeholder="Número Identifiación" >
                                            </div>
                                        </div>

                                        <div class="form-group">
                                            <label class="col-sm-5">Genero:</label>
                                            <div class="col-sm-6">
                                                <select ng-model="actualiza.person.PreRegistro.acudiente.genero" ng-options="genero as genero.sDescripcion for genero in actualiza.person.lisGeneroModels track by genero.iIdGenero">
                                                    <option value="">Seleccione Genero</option>
                                                </select>
                                            </div>
                                        </div>

                                        <div class="form-group">
                                            <label class="col-sm-5">Segundo Nombre:</label>
                                            <div class="col-sm-6">
                                                <input type="text" id="sSegundoNombre" name="sSegundoNombre" ng-model="actualiza.person.PreRegistro.acudiente.segNombre" ng-disabled="edit" placeholder="Segundo Nombre" >
                                            </div>
                                        </div>

                                        <div class="form-group">
                                            <label class="col-sm-5">Segundo Apellido:</label>
                                            <div class="col-sm-6">
                                                <input type="text" id="sSegundoApellido" name="sSegundoApellido" ng-model="actualiza.person.PreRegistro.acudiente.segApellido" ng-disabled="edit" placeholder="Segundo Apellido">
                                            </div>
                                        </div>

                                        <div class="form-group">
                                            <label class="col-sm-5">Depatamento Residencia:</label>
                                            <div class="col-sm-6">
                                                <select ng-model="actualiza.person.PreRegistro.acudiente.depRes" ng-options="depto as depto.sNombre for depto in estudiantes.estudianteModel.sPaisResidencia.listDeptoModel track by depto.sCodigo" convert-to-number>
                                                    <option value="">Seleccione un Departamento</option>
                                                </select>
                                            </div>
                                        </div>


                                        <div class="form-group">
                                            <label class="col-sm-5">Dirección Residencia:</label>
                                            <div class="col-sm-6">
                                                <input type="text" id="sDireccionResidencia" name="sDireccionResidencia" ng-model="actualiza.person.PreRegistro.acudiente.dirRes" ng-disabled="edit" placeholder="Direccion Residencia">
                                            </div>
                                        </div>

                                        <div class="form-group">
                                            <label class="col-sm-5">Teléfono Móvil</label>
                                            <div class="col-sm-6">
                                                <input type="text" id="sTelefonoMovil" name="sTelefonoMovil" ng-model="actualiza.person.PreRegistro.acudiente.telMovil" ng-disabled="edit" placeholder="Teléfono Móvil">
                                            </div>
                                        </div>
                                    </div> 

                                </div>
                            </div>
                        </div>



                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <h4 class="panel-title">
                                    <a data-toggle="collapse" data-parent="#accordion" href="#collapse3">PLAN DE PAGOS</a>
                                </h4>
                            </div>
                            <div id="collapse3" class="panel-collapse collapse">
                                <br/>
                                <br/>
                                <div class="panel-body">

                                    <table id="example" class="table table-striped table-bordered" cellspacing="0" width="100%">
                                        <thead>
                                            <tr>
                                                <th>UNIVERSIDAD</th>
                                                <th>PROGRAMA</th>
                                                <th>PERIODO ACADEMICO</th>
                                                <th>FECHA INICIO</th>
                                                <th>FECHA FIN</th>
                                                <th>PLAZO</th>
                                                <th>ESTADO ESTUDIANTE</th>
                                                <th>PERIODO CURSADO</th>
                                                <th>PRECIO PROGRAMA</th>
                                            </tr>
                                        </thead>

                                        <tfoot>
                                            <tr>
                                                <th>UNIVERSIDAD</th>
                                                <th>PROGRAMA</th>
                                                <th>PERIODO ACADEMICO</th>
                                                <th>FECHA INICIO</th>
                                                <th>FECHA FIN</th>
                                                <th>PLAZO</th>
                                                <th>ESTADO ESTUDIANTE</th>
                                                <th>PERIODO CURSADO</th>
                                                <th>PRECIO PROGRAMA</th>
                                            </tr>
                                        </tfoot>

                                        <tbody>
                                            <tr>
                                                <td>
                                                    <select ng-model="actualiza.person.PreRegistro.acudiente.tipIden" ng-options="TipoIden as TipoIden.sDescripcion for TipoIden in actualiza.person.lisTipoIdentificacionModels track by TipoIden.iId_Identificacion" convert-to-number>
                                                        <option value="">Seleccionar Universidad</option>
                                                    </select>
                                                </td>
                                                <td>
                                                    <select ng-model="actualiza.person.PreRegistro.acudiente.tipIden" ng-options="TipoIden as TipoIden.sDescripcion for TipoIden in actualiza.person.lisTipoIdentificacionModels track by TipoIden.iId_Identificacion" convert-to-number>
                                                        <option value="">Seleccionar Programa</option>
                                                    </select>
                                                </td>
                                                <td>Edinburgh</td>
                                                <td>61</td>
                                                <td>2011/04/25</td>
                                                <td>$320,800</td>
                                            </tr>
                                        </tbody>
                                    </table>

                                    <div class="col-sm-6">

                                        <div class="form-group">
                                            <label class="col-sm-5">Tipo Identificacion:</label>
                                            <div class="col-sm-6">
                                                <select ng-model="actualiza.person.PreRegistro.acudiente.tipIden" ng-options="TipoIden as TipoIden.sDescripcion for TipoIden in actualiza.person.lisTipoIdentificacionModels track by TipoIden.iId_Identificacion" convert-to-number>
                                                    <option value="">Seleccione tipo de identificacion</option>
                                                </select>
                                            </div>
                                        </div>

                                        <div class="form-group">
                                            <label class="col-sm-5">Fecha Expedición:</label>
                                            <div class="col-sm-6">
                                                <input type="text" id="sFechaExpedicion" name="sFechaExpedicion" ng-model="actualiza.person.PreRegistro.acudiente.fechExp" ng-disabled="edit" placeholder="dd/mm/yyyy" >
                                            </div>
                                        </div>

                                        <div class="form-group">
                                            <label class="col-sm-5">Primer Nombre:</label>
                                            <div class="col-sm-6">
                                                <input type="text" id="sPrimerNombre" name="sPrimerNombre" ng-model="actualiza.person.PreRegistro.acudiente.priNombre" ng-disabled="edit" placeholder="Primer Nombre">
                                            </div>
                                        </div>

                                        <div class="form-group">
                                            <label class="col-sm-5">Primer Apellido:</label>
                                            <div class="col-sm-6">
                                                <input type="text" id="sPrimerApellido" name="sPrimerApellido" ng-model="actualiza.person.PreRegistro.acudiente.priApellido" ng-disabled="edit" placeholder="Primer Apellido"  >
                                            </div>
                                        </div>

                                        <div class="form-group">
                                            <label class="col-sm-5">País Residencia:</label>
                                            <div class="col-sm-6">
                                                <select ng-model="actualiza.person.PreRegistro.acudiente.paisRes" ng-options="ciudad as ciudad.sNombre for ciudad in actualiza.person.lisCiudadModels track by ciudad.sCodigo" convert-to-number>
                                                    <option value="">Seleccione su Nacionalidad</option>
                                                </select>
                                            </div>
                                        </div>

                                        <div class="form-group">
                                            <label class="col-sm-5">Ciudad Residencia:</label>
                                            <div class="col-sm-6">
                                                <select ng-model="actualiza.person.PreRegistro.acudiente.ciudRes" ng-options="pais as pais.sNombre for pais in estudiantes.estudiante.listPaisModel track by pais.sCodigo" convert-to-number>
                                                    <option value="">Seleccione una Ciudad</option>
                                                </select>
                                            </div>
                                        </div>

                                        <div class="form-group">
                                            <label class="col-sm-5">Teléfono Fijo</label>
                                            <div class="col-sm-6">
                                                <input type="text" id="sTelefonoFijo" name="sTelefonoFijo" ng-model="actualiza.person.PreRegistro.acudiente.telFij" ng-disabled="edit" placeholder="Teléfono Fijo">
                                            </div>
                                        </div>

                                        <div class="form-group">
                                            <label class="col-sm-5">Email</label>
                                            <div class="col-sm-6">
                                                <input type="text" id="sEmail" name="sTelefonoFijo" ng-model="actualiza.person.PreRegistro.acudiente.email" ng-disabled="edit" placeholder="Email">
                                            </div>
                                        </div>
                                    </div>

                                    <div class="col-sm-6">

                                        <div class="form-group">
                                            <label class="col-sm-5">Número de identificación:</label>
                                            <div class="col-sm-6">
                                                <input type="text" id="sNumeroIdentificacion" name="sNumeroIdentificacion" ng-model="actualiza.person.PreRegistro.acudiente.numIden" ng-disabled="edit" placeholder="Número Identifiación" >
                                            </div>
                                        </div>

                                        <div class="form-group">
                                            <label class="col-sm-5">Genero:</label>
                                            <div class="col-sm-6">
                                                <select ng-model="actualiza.person.PreRegistro.acudiente.genero" ng-options="genero as genero.sDescripcion for genero in actualiza.person.lisGeneroModels track by genero.iIdGenero">
                                                    <option value="">Seleccione Genero</option>
                                                </select>
                                            </div>
                                        </div>

                                        <div class="form-group">
                                            <label class="col-sm-5">Segundo Nombre:</label>
                                            <div class="col-sm-6">
                                                <input type="text" id="sSegundoNombre" name="sSegundoNombre" ng-model="actualiza.person.PreRegistro.acudiente.segNombre" ng-disabled="edit" placeholder="Segundo Nombre" >
                                            </div>
                                        </div>

                                        <div class="form-group">
                                            <label class="col-sm-5">Segundo Apellido:</label>
                                            <div class="col-sm-6">
                                                <input type="text" id="sSegundoApellido" name="sSegundoApellido" ng-model="actualiza.person.PreRegistro.acudiente.segApellido" ng-disabled="edit" placeholder="Segundo Apellido">
                                            </div>
                                        </div>

                                        <div class="form-group">
                                            <label class="col-sm-5">Depatamento Residencia:</label>
                                            <div class="col-sm-6">
                                                <select ng-model="actualiza.person.PreRegistro.acudiente.depRes" ng-options="depto as depto.sNombre for depto in estudiantes.estudianteModel.sPaisResidencia.listDeptoModel track by depto.sCodigo" convert-to-number>
                                                    <option value="">Seleccione un Departamento</option>
                                                </select>
                                            </div>
                                        </div>


                                        <div class="form-group">
                                            <label class="col-sm-5">Dirección Residencia:</label>
                                            <div class="col-sm-6">
                                                <input type="text" id="sDireccionResidencia" name="sDireccionResidencia" ng-model="actualiza.person.PreRegistro.acudiente.dirRes" ng-disabled="edit" placeholder="Direccion Residencia">
                                            </div>
                                        </div>

                                        <div class="form-group">
                                            <label class="col-sm-5">Teléfono Móvil</label>
                                            <div class="col-sm-6">
                                                <input type="text" id="sTelefonoMovil" name="sTelefonoMovil" ng-model="actualiza.person.PreRegistro.acudiente.telMovil" ng-disabled="edit" placeholder="Teléfono Móvil">
                                            </div>
                                        </div>

                                    </div> 

                                </div>
                            </div>
                        </div>
                    </div> 
                </div>
            </section>
            <section id="prefooter" class="section" ng-include="'PreFooter.html'"></section>
            <footer id="footer" class="section" data-spacing="none" ng-include="'Footer.html'"></footer>
        </div>
        <!--<script src="../js/layout.js"></script>-->
    </body>
</html>
