<?xml version="1.0" encoding="UTF-8"?>
<web-app version="2.5" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd">
    <filter>
        <filter-name>FilterPages</filter-name>
        <filter-class>com.ethos.filter.FilterPages</filter-class>
        <init-param>
            <param-name>urlLogin</param-name>
            <param-value>/</param-value>
        </init-param>
    </filter>
    <filter>
        <filter-name>MenuFilter</filter-name>
        <filter-class>com.ethos.filter.MenuFilter</filter-class>
    </filter>
    <filter-mapping>
        <filter-name>FilterPages</filter-name>
        <servlet-name>MenuControl</servlet-name>
    </filter-mapping>
    <servlet>
        <servlet-name>LoginControl</servlet-name>
        <servlet-class>com.ethos.control.general.LoginControl</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ActualizarControl</servlet-name>
        <servlet-class>com.ethos.control.general.ActualizarControl</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>MenuControl</servlet-name>
        <servlet-class>com.ethos.control.general.MenuControl</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LogoutControl</servlet-name>
        <servlet-class>com.ethos.control.general.LogoutControl</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>NavegaControl</servlet-name>
        <servlet-class>com.ethos.control.general.NavegaControl</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>PreRegistroControl</servlet-name>
        <servlet-class>com.ethos.control.general.PreRegistroControl</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>LoginControl</servlet-name>
        <url-pattern>/LoginControl</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ActualizarControl</servlet-name>
        <url-pattern>/ActualizarControl</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>MenuControl</servlet-name>
        <url-pattern>/MenuControl</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LogoutControl</servlet-name>
        <url-pattern>/LogoutControl</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>NavegaControl</servlet-name>
        <url-pattern>/NavegaControl</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>PreRegistroControl</servlet-name>
        <url-pattern>/PreRegistroControl</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
    <welcome-file-list>
        <welcome-file>General/MenuOut.html</welcome-file>
    </welcome-file-list>
    <resource-ref>
        <description>Resource reference to a factory for java.sql.Connection instances that may be used for talking to a particular database that is configured in the context configurartion for the web application.</description>
        <res-ref-name>jdbc/EdupolDB</res-ref-name>
        <res-type>javax.sql.DataSource</res-type>
        <res-auth>Container</res-auth>
        <res-sharing-scope>Shareable</res-sharing-scope>
    </resource-ref>
</web-app>
