<!-- HTML5 shim, for very old IE's -->
<!--[if lt IE 9]>
  <script src="./libs/html5shiv.js"></script>
<![endif]-->

<div class="container" id="inFooter">
    <div class="row">
        <div class="span4 pull-right">
            <ul class="socials">
                <li><a href="#" class="facebook"></a></li>
                <li><a href="#" class="behance"></a></li>
                <li><a href="#" class="twitter"></a></li>
                <li><a href="#top" class="top"></a></li>
            </ul>
        </div>
        <div class="span8 pull-left">
            <p>Copyright 2015 Ethos<span>&nbsp;&nbsp;&nbsp;</span>Designed by <a href="http://www.ethosweb.com" target="_blank">ETHOS SOLUCIONES</a></p>
        </div>
    </div>
</div>
