<!-- HTML5 shim, for very old IE's -->
<!--[if lt IE 9]>
  <script src="./libs/html5shiv.js"></script>
<![endif]-->

<div id="inPrefooter" class="container">
    <div class="row">
        <div class="span12">
            <header>
                <h3><strong>EDUPOL</strong></h3>
            </header>
            <p>
                Este sitio ha sido creado para el uso exclusivo de asociados autorizados de EDUPOL.
                El uso de este sitio está sujeto a los Avisos Legales, las Condiciones de Uso y la Declaración de Privacidad publicados en el sitio.
                El uso de este sitio por parte de los asociados de EDUPOL también está sujeto a las políticas de la empresa, incluido el Código de Conducta.
                El acceso no autorizado o el incumplimiento de estas condiciones puede dar lugar a la cancelación de su permiso para utilizar el sitio y/o a las acciones legales pertinentes. 
            </p>
        </div>
<!--        <div class="span3 offset1">
            <header>
                <h3><strong>Contact Us</strong></h3>
            </header>
            <ul class="contact">
                <li>
                    <i class="icon-location"></i>
                    <span><strong>Address:</strong></span> <span>Świętkorzyska Str 56,<br />Warsaw, Poland</span>
                </li>
                <li>
                    <i class="icon-phone"></i><span><strong>Phone:</strong></span> <span>+48 880 440 110</span>
                </li>
                <li>
                    <i class="icon-mail"></i><span><strong>Email:</strong></span> <span><a href="mailto:mail@example.com">mail@example.com</a></span>
                </li>
            </ul>
        </div>
        <div class="span4 offset1">
            <header>
                <h3><strong>Career</strong></h3>
            </header>

            <p>
                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Iure, asperiores, voluptatem ad dolores ea commodi voluptates eveniet consectetur nobis deleniti qui illum tenetur
            </p>
            <br />
            <a href="#">Apply Now</a>

        </div>-->
    </div>
</div>
